@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Thin.ttf"), url("../fonts/PFDinDisplayPro-Thin.woff"), url("../fonts/PFDinDisplayPro-Thin.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Light.ttf"), url("../fonts/PFDinDisplayPro-Light.woff"), url("../fonts/PFDinDisplayPro-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Regular.ttf"), url("../fonts/PFDinDisplayPro-Regular.woff"), url("../fonts/PFDinDisplayPro-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Medium.ttf") url("../fonts/PFDinDisplayPro-Medium.woff"), url("../fonts/PFDinDisplayPro-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Bold.ttf") url("../fonts/PFDinDisplayPro-Bold.woff"), url("../fonts/PFDinDisplayPro-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Black.ttf"), url("../fonts/PFDinDisplayPro-Black.woff"), url("../fonts/PFDinDisplayPro-Black.woff2");
  font-weight: 800;
}
* {
  border: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}
a:active, a:focus-visible {
  outline: none;
}

html,
body {
  font-family: "PF DinDisplay Pro", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
  font-optical-sizing: auto;
  color: #212121;
  font-variation-settings: "slnt" 0;
  background-color: #f3f0f0;
}

button,
textarea,
input {
  font-family: inherit;
}

button {
  padding: 0;
  background-color: transparent;
  font-family: "PF DinDisplay Pro", sans-serif;
  border: none;
  cursor: pointer;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 h2 h3 h4 h5 h6 {
  font-size: inherit;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.small-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.orange {
  color: #ffa469;
}

.header {
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .header {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 40px;
  }
}
.header .header__nav {
  padding: 0;
}
@media (max-width: 35.5em) {
  .header .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header .header__logo {
  margin-right: 0;
}
.header .header__phone-link {
  padding: 20px;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffa469;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 35.5em) {
  .header .header__phone-link {
    padding: 15px;
    font-size: 16px;
  }
}
.header .header__phone-link:hover {
  color: #fff;
  background-color: #ffa469;
}

.hero {
  margin-bottom: 128px;
}
@media (max-width: 991px) {
  .hero {
    margin-bottom: 108px;
  }
}
@media (max-width: 768px) {
  .hero {
    margin-bottom: 98px;
  }
}
.hero .hero__title {
  max-width: 586px;
  margin: 0 auto 64px;
  font-size: 56px;
  font-weight: 700;
  line-height: 114%;
  color: #46474e;
  text-align: center;
}
@media (max-width: 991px) {
  .hero .hero__title {
    margin-bottom: 52px;
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .hero .hero__title {
    margin-bottom: 32px;
    font-size: 24px;
  }
}
.hero .hero__info-card-wrapper {
  margin-bottom: 56px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .hero .hero__info-card-wrapper {
    margin-bottom: 42px;
  }
}
@media (max-width: 991px) {
  .hero .hero__info-card-wrapper {
    margin-bottom: 28px;
  }
}
.hero .hero__info-card {
  position: relative;
  max-width: 344px;
  padding: 45px 32px;
  border-radius: 24px;
  background: #fff;
  overflow: hidden;
}
@media (max-width: 1040px) {
  .hero .hero__info-card {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 991px) {
  .hero .hero__info-card {
    margin: 0 auto 20px;
  }
}
.hero .hero__info-card:not(:last-child) {
  margin-right: 20px;
}
.hero .hero__info-card::before {
  content: "";
  position: absolute;
}
.hero .hero__info-card--1::before {
  right: 0;
  top: 15px;
  width: 91px;
  height: 130px;
  background: url("../img/heroCard-1.svg") center/cover no-repeat;
}
.hero .hero__info-card--2::before {
  top: 10px;
  right: 0;
  width: 120px;
  height: 139px;
  background: url("../img/heroCard-2.svg") center/cover no-repeat;
}
.hero .hero__info-card--3::before {
  top: 15px;
  right: 30px;
  width: 76px;
  height: 133px;
  background: url("../img/heroCard-3.svg") center/cover no-repeat;
}
.hero .hero__card-text {
  max-width: 220px;
  font-size: 19px;
  font-weight: 300;
  line-height: 114%;
  color: #46474e;
}
.hero .hero__card-text b {
  font-weight: 700;
}
.hero .hero__text {
  position: relative;
  z-index: 1;
  max-width: 528px;
  margin: 0 auto 40px;
  font-size: 48px;
  font-weight: 200;
  line-height: 114%;
  text-align: center;
  color: #46474e;
}
.hero .hero__text::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: -98px;
  top: -36px;
  width: 180px;
  height: 180px;
  background: url("../img/print.svg") center/cover no-repeat;
}
@media (max-width: 991px) {
  .hero .hero__text::before {
    right: -68px;
    top: -49px;
  }
}
@media (max-width: 768px) {
  .hero .hero__text::before {
    display: none;
  }
}
@media (max-width: 991px) {
  .hero .hero__text {
    margin-bottom: 28px;
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .hero .hero__text {
    font-size: 24px;
  }
}
.hero .hero__button {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  padding: 27px 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #61504d;
  background: #ffd66b;
  border-radius: 12px;
}
@media (max-width: 768px) {
  .hero .hero__button {
    padding: 19px 24px;
  }
}

.situations {
  margin-bottom: 190px;
}
.situations .situations__inner {
  position: relative;
  padding: 192px 96px 96px;
  border-radius: 32px;
  background: #46474e;
}
.situations .situations__text-wrapper {
  max-width: 528px;
}
.situations .situations__title {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 48px;
  line-height: 114%;
  text-align: center;
  color: #fff;
}
.situations .situations__descr {
  margin-bottom: 72px;
  font-weight: 300;
  font-size: 23px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}
.situations .situations__img {
  position: absolute;
  top: 56px;
  right: 82px;
  width: 607px;
}
.situations .situations__list-row {
  border-radius: 24px;
  padding: 104px;
  background: #585960;
}
.situations .situations__list {
  padding: 0;
  margin: 0;
}
.situations .situations__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 18px;
  font-weight: 300;
  font-size: 17px;
  line-height: 140%;
  color: #fff;
}
.situations .situations__item:not(:last-child) {
  margin-bottom: 48px;
}
.situations .situations__item .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/situation-list-icon.svg") center/cover no-repeat;
}
.situations .situations__item .text {
  max-width: 336px;
}
.situations .situations__item .text b {
  font-weight: 700;
}

.solutions {
  margin-bottom: 96px;
}
.solutions .solutions__inner {
  position: relative;
  padding: 126px 98px;
  border-radius: 32px;
  background: #e8e8e8;
}
.solutions .solutions__inner::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: -256px;
  left: 29.77%;
  width: 556px;
  height: 448px;
  background: url("../img/solutions-img.svg") center/cover no-repeat;
}
.solutions .solutions__title {
  position: relative;
  z-index: 1;
  max-width: 725px;
  margin: 0 auto 48px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 48px;
  line-height: 114%;
  text-align: center;
  color: #46474e;
}
.solutions .solutions__description {
  max-width: 814px;
  margin: 0 auto 72px;
  font-weight: 300;
  font-size: 23px;
  line-height: 140%;
  text-align: center;
  color: #46474e;
}
.solutions .solutions__list-wrapper {
  margin-bottom: 80px;
  padding: 72px 104px;
  border-radius: 24px;
  background: #f3f0f0;
}
.solutions .solutions__subtitle {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 23px;
  line-height: 140%;
  text-align: center;
  color: #46474e;
}
.solutions .solutions__list {
  padding: 0;
  margin: 0 0;
}
.solutions .solutions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 18px;
}
.solutions .solutions__item:not(:last-child) {
  margin-bottom: 48px;
}
.solutions .solutions__item .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24px;
  height: 24px;
  background: url("../img/solutions-list-icon.svg") center/cover no-repeat;
}
.solutions .solutions__item .text {
  max-width: 345px;
}
.solutions .solutions__meetup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.solutions .solutions__meetup-prev {
  max-width: 454px;
  margin: 0 auto;
}
.solutions .solutions__meetup-text {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 32px;
  line-height: 114%;
  color: #46474e;
}
.solutions .solutions__button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 31px 32px;
  background: #ffd66b;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #61504d;
}

.our-stories {
  margin-bottom: 96px;
}
.our-stories .our-stories__inner {
  border-radius: 32px;
  background: #46474e;
  padding: 96px;
}
.our-stories .our-stories__title {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 48px;
  line-height: 114%;
  text-align: center;
  color: #fff;
}
.our-stories .our-stories__description {
  max-width: 681px;
  margin: 0 auto 72px;
  margin-bottom: 72px;
  font-weight: 300;
  font-size: 23px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}
.our-stories .our-stories__vide-inner {
  position: relative;
  max-height: 681px;
  height: auto;
  gap: 24px;
  overflow: hidden;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.our-stories .our-stories__vide-inner::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, rgba(255, 255, 255, 0)), to(rgb(70, 71, 78)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, rgb(70, 71, 78) 100%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.our-stories .our-stories__vide-inner.end::before {
  opacity: 0;
}
.our-stories .video-wrapper {
  margin-left: 0;
  margin-left: 0;
  margin-bottom: 48px;
  gap: 24px;
}
.our-stories .our-stories__card {
  max-width: 528px;
  padding: 16px;
  border-radius: 24px;
  background: #393a3f;
  border: none;
}
.our-stories .our-stories__card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-stories .our-stories__card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
}
.our-stories .our-stories__work-team {
  max-width: 104px;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}
.our-stories .our-stories__work-team-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #fff;
}
.our-stories .our-stories__work-team-info .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20px;
  height: 20px;
}
.our-stories .our-stories__work-team-info .icon.team-icon {
  background: url("../img/team-icon.svg") center/cover no-repeat;
}
.our-stories .our-stories__work-team-info .icon.time-icon {
  background: url("../img/time-icon.svg") center/cover no-repeat;
}
.our-stories .our-stories__company {
  max-width: 284px;
  width: 100%;
}
.our-stories .our-stories__company-name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  color: #fff;
}
.our-stories .our-stories__company-descr {
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: #e8e8e8;
}
.our-stories .our-stories__show-more {
  position: relative;
  z-index: 1;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: -24px auto 140px;
  padding: 27px 32px;
  border: 1.5px solid #717278;
  border-radius: 12px;
  background: #46474e;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  color: #f3f0f0;
}
.our-stories .our-stories__show-more:disabled {
  opacity: 0.5;
}
.our-stories .our-stories__form-inner {
  position: relative;
  padding: 72px;
  border-radius: 32px;
  background: #393a3f;
  overflow: hidden;
}
.our-stories .our-stories__form-inner::after {
  content: "";
  position: absolute;
  right: -81px;
  top: 0;
  bottom: 0;
  width: 285px;
  background-color: #ffd66b;
  -webkit-transform: rotate(13deg);
          transform: rotate(13deg);
}
.our-stories .our-stories__form-inner::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -8px;
  right: -28px;
  width: 671px;
  height: 572px;
  background: url(../img/kristina.png) center/contain no-repeat;
}
.our-stories .our-stories__form-title {
  max-width: 544px;
  margin-bottom: 48px;
  font-weight: 200;
  font-size: 48px;
  line-height: 114%;
  color: #fff;
}
.our-stories .our-stories__form-description {
  max-width: 470px;
  margin-bottom: 72px;
  font-weight: 200;
  font-size: 23px;
  line-height: 140%;
  color: #fff;
}
.our-stories .our-stories__form-description .orange {
  font-weight: 700;
}
.our-stories .our-stories__form {
  max-width: 284px;
}
.our-stories .our-stories__form-control {
  width: 100%;
  height: 72px;
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 19px;
  line-height: 160%;
  color: #fff;
  text-align: center;
  border: 1.5px solid #ffa469;
  border-radius: 12px;
  background: #393a3f;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.our-stories .our-stories__form-control::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 19px;
  line-height: 160%;
  color: #ffa469;
  text-align: center;
}
.our-stories .our-stories__form-control::-moz-placeholder {
  font-weight: 300;
  font-size: 19px;
  line-height: 160%;
  color: #ffa469;
  text-align: center;
}
.our-stories .our-stories__form-control:-ms-input-placeholder {
  font-weight: 300;
  font-size: 19px;
  line-height: 160%;
  color: #ffa469;
  text-align: center;
}
.our-stories .our-stories__form-control::-ms-input-placeholder {
  font-weight: 300;
  font-size: 19px;
  line-height: 160%;
  color: #ffa469;
  text-align: center;
}
.our-stories .our-stories__form-control::placeholder {
  font-weight: 300;
  font-size: 19px;
  line-height: 160%;
  color: #ffa469;
  text-align: center;
}
.our-stories .our-stories__form-submit {
  padding: 31px 73px;
  border-radius: 12px;
  padding: 0px 32px;
  width: 284px;
  height: 72px;
  background: #ffd66b;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #46474e;
}

.results {
  margin-bottom: 96px;
}
.results .results-inner {
  padding: 96px;
  border-radius: 32px;
  background: #46474e;
}
.results .results__title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 48px;
  line-height: 114%;
  text-align: center;
  color: #fff;
}
.results .results__description {
  max-width: 662px;
  margin: 0 auto 63px;
  font-weight: 300;
  font-size: 23px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}
.results .results__card-inner {
  position: relative;
  max-height: 983px;
  height: auto;
  overflow: hidden;
}
.results .results__card-inner::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, rgba(255, 255, 255, 0)), to(rgb(70, 71, 78)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, rgb(70, 71, 78) 100%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.results .results__card-inner.end::before {
  opacity: 0;
}
.results .results__card {
  margin-bottom: 48px;
  padding: 21px 16px;
  border-radius: 32px;
  background-color: #585960;
}
.results .results__card-title-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  padding-left: 56px;
}
.results .results__company-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 319px;
  margin-top: auto;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 300;
  color: #f3f0f0;
}
.results .results__company-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 47%;
}
.results .results__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 64px 56px 73px;
  border-radius: 24px;
  background-color: #f3f0f0;
}
.results .results__card-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
  padding-right: 36px;
  border-right: 1.5px solid #d7d7d7;
}
.results .results__card-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
  padding-left: 56px;
}
.results .results__subtitle {
  margin-bottom: 7px;
  font-size: 32px;
  font-weight: 700;
  color: #46474e;
}
.results .results__info-description {
  margin-bottom: 18px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.6;
  color: #46474e;
}
.results .results__info-list {
  padding-left: 0;
  margin-bottom: 0;
}
.results .results__info-item:not(:last-child) {
  margin-bottom: 16px;
}
.results .results__info-title {
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.6;
  color: #ffa469;
}
.results .results__info-text {
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.6;
  color: #46474e;
}
.results .results__info-text b {
  font-weight: 700;
}
.results .results__show-more {
  position: relative;
  z-index: 1;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: -24px auto 140px;
  padding: 27px 32px;
  border: 1.5px solid #717278;
  border-radius: 12px;
  background: #46474e;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  color: #f3f0f0;
}
.results .results__show-more:disabled {
  opacity: 0.5;
}
.results .results__form-banner {
  padding: 16px 16px 16px 72px;
  border-radius: 32px;
  background-color: #393a3f;
}
.results .results__banner-title {
  margin-top: 52px;
  margin-bottom: 65px;
  font-size: 40px;
  font-weight: 100;
  line-height: 1.14;
  color: #fff;
}
.results .results__banner-info {
  max-width: 451px;
}
.results .results__info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  margin-bottom: 37px;
}
.results .results__info-img {
  margin-top: -20px;
}
.results .results__info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.results .results__info-text .orange {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.14;
}
.results .results__info-text .small-text {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  color: #fff;
}
.results .results__form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 62px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 41px;
  background-color: #fff;
  border-radius: 24px;
}
.results .results__form-text {
  max-width: 280px;
}
.results .results__form-title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #46474e;
}
.results .results__form-description {
  font-weight: 300;
  font-size: 23px;
  text-align: center;
  color: #46474e;
}
.results .results__form {
  max-width: 300px;
  width: 100%;
}
.results .results__form-control {
  width: 100%;
  height: 72px;
  margin-bottom: 24px;
  font-size: 19px;
  line-height: 160%;
  text-align: center;
  color: #46474e;
  background: #f3f0f0;
  border-radius: 12px;
}
.results .results__form-control::-webkit-input-placeholder {
  font-size: 19px;
  line-height: 160%;
  text-align: center;
  color: #b9babd;
}
.results .results__form-control::-moz-placeholder {
  font-size: 19px;
  line-height: 160%;
  text-align: center;
  color: #b9babd;
}
.results .results__form-control:-ms-input-placeholder {
  font-size: 19px;
  line-height: 160%;
  text-align: center;
  color: #b9babd;
}
.results .results__form-control::-ms-input-placeholder {
  font-size: 19px;
  line-height: 160%;
  text-align: center;
  color: #b9babd;
}
.results .results__form-control::placeholder {
  font-size: 19px;
  line-height: 160%;
  text-align: center;
  color: #b9babd;
}
.results .results__form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.results .results__form-submit {
  padding: 31px 24px;
  width: 300px;
  height: 72px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #61504d;
  background: #ffd66b;
  border-radius: 12px;
}

.footer {
  padding-top: 158px;
  background: #3f3f46;
}
.footer .footer__contact-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
.footer .footer__contact-list {
  padding-left: 0;
  margin-bottom: 57px;
}
.footer .footer__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 33px;
}
.footer .footer__phone-link {
  font-weight: 700;
  font-size: 40px;
  color: #f4ad7f;
}
.footer .footer__mail-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #b2b2b5;
}
.footer .footer__contact-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
}
.footer .footer__contact-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #b2b2b5;
}
.footer .footer__subtitle {
  max-width: 473px;
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 36px;
  line-height: 100%;
  color: #fff;
}
.footer .footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  padding-left: 0;
  margin-bottom: 0;
}
.footer .footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer__social-link {
  padding: 15px 11px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.footer .footer__social-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer .footer__requisites-list {
  max-width: 237px;
}
.footer .footer__requisites-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #fff;
}
.footer .footer__requisites-text {
  font-size: 14px;
  line-height: 160%;
  color: #fff;
  color: #b2b2b5;
}
.footer .footer__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 23px;
  border-top: 2px solid #4b4b52;
  font-size: 13px;
  line-height: 160%;
  color: #b2b2b5;
}
.footer .footer__policy-link {
  padding: 0;
}