@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Thin.ttf"),
    url("../fonts/PFDinDisplayPro-Thin.woff"),
    url("../fonts/PFDinDisplayPro-Thin.woff2");
  font-weight: 200;
}

@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Light.ttf"),
    url("../fonts/PFDinDisplayPro-Light.woff"),
    url("../fonts/PFDinDisplayPro-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Regular.ttf"),
    url("../fonts/PFDinDisplayPro-Regular.woff"),
    url("../fonts/PFDinDisplayPro-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Medium.ttf")
      url("../fonts/PFDinDisplayPro-Medium.woff"),
    url("../fonts/PFDinDisplayPro-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Bold.ttf")
      url("../fonts/PFDinDisplayPro-Bold.woff"),
    url("../fonts/PFDinDisplayPro-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Black.ttf"),
    url("../fonts/PFDinDisplayPro-Black.woff"),
    url("../fonts/PFDinDisplayPro-Black.woff2");
  font-weight: 800;
}
