.footer {
  padding-bottom: 24px;
  .footer__inner {
    position: relative;
    padding: 96px 96px 14px;
    border-radius: 32px;
    background: #393a3f;
    @media (max-width: 768px) {
      padding: 32px 0px;
    }

    &::before {
      @media (max-width: 768px) {
        content: '';
        position: absolute;
        inset: 0 -15px;
        z-index: -1;
        background-color: #393a3f;
      }
    }
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;

    @media (max-width: 768px) {
      margin-bottom: 48px;
    }
  }
  .footer__title {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 114%;
    text-align: center;
    color: #fff;

    @media (max-width: 768px) {
      margin-bottom: 24px;
      font-size: 32px;
    }
  }
  .footer__text {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 23px;
    line-height: 140%;
    text-align: center;
    color: #fff;

    @media (max-width: 768px) {
      margin-bottom: 24px;
      font-size: 18px;
    }
  }
  .footer__btn {
    max-width: 253px;
    width: 100%;
    margin-bottom: 64px;
    padding: 24px 16px;
    background: #ffd66b;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-align: center;
    color: #61504d;

    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
  }
  .footer__phone-link {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 40px;
    color: #ffa469;

    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
  .footer__link-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }
  .footer__link-item {
    display: flex;
    align-items: center;
    gap: 11px;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    .text {
      color: #b2b2b5;
    }
    .footer__link {
      color: #fff;
      border-bottom: 1px solid #65666d;
    }
  }
  .footer__social-subtitle {
    margin-bottom: 6px;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #b2b2b5;
  }
  .footer__social-list {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 0;
    margin-bottom: 76px;

    @media (max-width: 768px) {
      margin-bottom: 38px;
    }
  }
  .footer__social-link {
    width: 36px;
    height: 36px;
    padding: 21px 15px;
  }
  .footer__todo {
    font-weight: 200;
    font-size: 36px;
    line-height: 114%;
    text-align: center;
    color: #fff;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
  .footer__policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: #b2b2b5;
    border-top: 2px solid #4b4b52;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      gap: 12px;
    }
  }
  .footer__policy-info {
    margin-bottom: 0;
  }
  .footer__policy-link {
    padding: 13px;
  }
}
