.situations {
  margin-bottom: 190px;
  @media (max-width: 991px) {
    margin-bottom: 108px;
  }
  @media (max-width: 768px) {
    margin-bottom: 98px;
  }
  .situations__inner {
    position: relative;
    padding: 96px;
    border-radius: 32px;
    background: #46474e;

    @media (max-width: 1240px) {
      padding: 62px;
    }
    @media (max-width: 991px) {
      padding: 32px;
    }
    @media (max-width: 768px) {
      padding: 32px 16px 32px;
    }

    &::before {
      @media (max-width: 768px) {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0 -15px;
        background-color: #46474e;
      }
    }
  }
  .situations__title {
    max-width: 398px;
    margin: 0 auto 48px;
    font-weight: 700;
    font-size: 48px;
    line-height: 114%;
    text-align: center;
    color: #fff;

    @media (max-width: 991px) {
      margin-bottom: 36px;
      font-size: 36px;
    }
    @media (max-width: 991px) {
      font-size: 28px;
    }
  }
  .situations__descr {
    max-width: 712px;
    margin: 0 auto 72px;
    font-weight: 300;
    font-size: 23px;
    line-height: 140%;
    text-align: center;
    color: #fff;

    @media (max-width: 991px) {
      margin-bottom: 38px;
      font-size: 18px;
    }
    @media (max-width: 768px) {
      margin-bottom: 24px;
      font-size: 16px;
    }
  }
  .situations__img {
    position: absolute;
    bottom: 0px;
    right: 131px;
    width: 607px;

    @media (max-width: 1240px) {
      width: 526px;
      right: 12px;
    }

    @media (max-width: 991px) {
      bottom: 0;
      width: 371px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
  .situations__list-row {
    padding: 104px 104px 56px;
    border-radius: 24px;
    background: #393a3f;

    @media (max-width: 1240px) {
      padding: 43px;
    }

    @media (max-width: 991px) {
      padding: {
        left: 16px;
        right: 16px;
      };
    }
  }
  .situations__list {
    padding: 0;
    margin: 0;
    flex-direction: column;
    max-height: 754px;

    &:not(:last-child) {
      @media (max-width: 768px) {
        margin-bottom: 24px;
      }
    }

    @media (max-width: 991px) {
      max-height: 518px;
    }

    @media (max-width: 768px) {
      max-height: 100%;
      flex-direction: row;
    }
  }
  .situations__item {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    font-weight: 300;
    font-size: 17px;
    line-height: 140%;
    color: #fff;

    @media (max-width:991px) {
      font-size: 15px;
    }

    &:not(:last-child) {
      margin-bottom: 48px;
      @media (max-width: 991px) {
        margin-bottom: 32px;
      }
    }
    .icon {
      flex-shrink: 0;
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url("../img/situation-list-icon.svg") center / cover no-repeat;
    }
    .text {
      max-width: 336px;
      b {
        font-weight: 700;
      }
    }
  }
}
