.solutions {
  margin-bottom: 96px;
  @media (max-width: 991px) {
    margin-bottom: 78px;
  }
  @media (max-width: 768px) {
    margin-bottom: 54px;
  }
  .solutions__inner {
    position: relative;
    padding: 126px 98px;
    border-radius: 32px;
    background-color: #e8e8e8;

    @media (max-width: 1240px) {
      padding: 126px 62px 62px;
    }
    @media (max-width: 991px) {
      padding: 126px 32px 32px;
    }
    @media (max-width: 768px) {
      padding: 32px 16px 32px;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: -256px;
      left: 50%;
      width: 556px;
      height: 448px;
      background: url("../img/solutions-img.svg") center / cover no-repeat;
      transform: translateX(-50%);

      @media (max-width: 1240px) {
        top: -129px;
        width: 337px;
        height: 274px;
      }
      @media (max-width: 768px) {
        top: -125px;
        width: 177px;
        height: 187px;
      }
    }
    &::after {
      @media (max-width: 768px) {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0 -20px;
        background-color: #e8e8e8;
      }
    }
  }
  .solutions__title {
    position: relative;
    z-index: 1;
    max-width: 725px;
    margin: 0 auto 48px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 48px;
    line-height: 114%;
    text-align: center;
    color: #46474e;

    @media (max-width: 991px) {
      margin-bottom: 36px;
      font-size: 36px;
    }
    @media (max-width: 991px) {
      font-size: 28px;
    }
  }
  .solutions__description {
    max-width: 814px;
    margin: 0 auto 72px;
    font-weight: 300;
    font-size: 23px;
    line-height: 140%;
    text-align: center;
    color: #46474e;

    @media (max-width: 991px) {
      margin-bottom: 38px;
      font-size: 18px;
    }
    @media (max-width: 768px) {
      margin-bottom: 24px;
      font-size: 16px;
    }
  }
  .solutions__list-wrapper {
    margin-bottom: 80px;
    padding: 72px 104px;
    border-radius: 24px;
    background: #f3f0f0;
  }
  .solutions__subtitle {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 23px;
    line-height: 140%;
    text-align: center;
    color: #46474e;
  }
  // .solutions__list-row {
  // }
  .solutions__list {
    padding: 0;
    margin: 0 0;
  }
  .solutions__item {
    display: flex;
    align-items: flex-start;
    gap: 18px;

    &:not(:last-child) {
      margin-bottom: 48px;
    }

    .icon {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      background: url("../img/solutions-list-icon.svg") center / cover no-repeat;
    }
    .text {
      max-width: 345px;
    }
  }
  .solutions__meetup {
    align-items: center;
  }
  .solutions__meetup-prev {
    max-width: 454px;
    margin: 0 auto;
  }
  // .solutions__meetup-img {
  // }
  .solutions__meetup-content {
  }
  .solutions__meetup-text {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 32px;
    line-height: 114%;
    color: #46474e;
  }
  .solutions__button {
    display: block;
    width: fit-content;
    padding: 31px 32px;
    background: #ffd66b;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: #61504d;
  }
}
